.ToggleButton {
  .button-switch {
    position: relative;
    display: inline-block;
    // width: 50px;
    // height: 25px;

    &.large {
      width: 50px;
      height: 25px;
    }

    &.small {
      width: 30px;
      height: 15px;
    }

    input[type='checkbox'] {
      display: none;
    }

    .switch {
      position: absolute;
      cursor: pointer;
      background-color: grey;
      border-radius: 25px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: background-color 0.2s ease;
    }
  }
  .button-switch .switch::before {
    position: absolute;
    content: '';
    left: 2px;
    top: 2px;
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;

    // &.large {
    //   left: 2px;
    //   top: 2px;
    //   width: 21px;
    //   height: 21px;
    // }

    // &.small {
    //   left: 0px;
    //   top: 0px;
    //   width: 15px;
    //   height: 15px;
    // }
  }

  .button-switch input[type='checkbox']:checked + .switch::before {
    transform: translateX(25px);
    background-color: white;

    // &.large {
    //   transform: translateX(25px);
    // }

    // &.small {
    //   transform: translateX(15px);
    // }
  }
  .button-switch input[type='checkbox']:checked + .switch {
    background-color: green;
  }

  .HalfToggle {
    .switch {
      background-color: lawngreen;
    }

    .button-switch .switch::before {
      left: 15px;
    }

    .button-switch input[type='checkbox']:checked + .switch::before {
      transform: translateX(12px);
    }
  }

  .SwitchToggle {
    .switch {
      background-color: red;
    }
  }
}
